.panda-bg-color {
    background-color: #fceae8;
}

.panda-txt-color {
    color: #FF136F;
}

.panda-btn-bg {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}

.bag-bg {
    background-color: orchid;
}

.shoes-bg {
    background-color: blue;
}